<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="LullabAI" content="Webpage that generates bedtime stories for kids, using AI" />
  <meta charset="utf-8">
  <title>LullabAI</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
   <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{url_for('static', filename='fairytale.png')}}" width="50" height="50" class="d-inline-block align-text-top">
      <h1>LullabAI</h1>
    </a>
    <span class="navbar-text">
      LullabAI is a project by Peter van Doorn. It generated images and stories using ChatGPT and Dall-E by OpenAI
    </span>
  </div>
  </nav>
  <br>

  {% block content %}{% endblock %}
  

</body>
</html>