{% extends "base.html" %}
{% block content %}
<div class="instruction">Flip the page</div>
<div class="book">
  <div class="page cover-front" onclick="movePage(this, 1)">
    <h1>AI</h1>
    <h1>Lullaby</h1>
    <div class="hat"><i class="fab fa-pied-piper-hat"></i></div>
    
    <h2>Generate AI bedtime stories</h2>
    
  </div>
  <div class="page cover-front" "></div>
  <div class="page text-page">
    <h1>Create your own bedtime story with AI</h1>
    <p>
      Welcome to AI Lullaby, the perfect way to end your child's day with a magical adventure! Our AI technology creates unique, personalized bedtime stories just for your child. Whether your child loves princesses, superheroes, or talking animals, our AI has a story for them. Plus, our stories are never the same twice, so your child can enjoy a new, exciting adventure every night.
    </p>
    <h1> Create a story</h1>
    <p>What should your story be about? You can be as specific as you want</p>
    <form action="/" method="post">
      <textarea name="prompt" class="form-control" style="width: 100%;"></textarea>
      <br>
      <button type="submit" class="btn btn-dark">Write story!</button>
    </form>
  </div>



  {% endblock  %}
