{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1>Write a bedtime story: </h1>
    <div class="alert alert-info" role="alert">
      <b>What should your story be about?</b><hr>
      Tell us what you want your story to be about, and let us worry about the rest! 
    </div>
    <form action="/" method="post">
      <textarea name="prompt" class="form-control" id="textAreaExample2" rows="8"></textarea>
      <br>
      <button type="submit" class="btn btn-dark">Write story!</button>
    </form>

  </div>
  
  {% endblock  %}